<nav class="navbar navbar-inverse navbar-fixed-top headroom">
  <div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="/"><img src="/src/public/img/logo.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li>
						<a class="btn" href="/signin">
							<img src="/src/public/img/cara.png" width=24px/>
							Acceder
						</a>
					</li>
				</ul>
			</div>
		</div>
</nav>

