<header id="head">
		<div class="container">
			<div class="row">
				<img src="/src/public/img/Kryptos-A.png"/>
			</div>
	</div>
</header>

<div class="container text-center">
	<br> <br>
	<h2 class="thin">Kryptos la mejor opción para tus contraseñas</h2>
	<p class="text-muted">
		Kryptos es una pagina que te ayudara a crear contraseñas seguras.<br> 
		Tambien cuenta con una boveda de contraseñas para que no las olvides.
	</p>
</div>

<div class="jumbotron top-space">
	<div class="container">
		
		<h3 class="text-center thin">Razones para usar Kryptos</h3>
		
		<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Contraseña Segura</h4></div>
					<div class="h-body text-center">
						<p>Kryptos le ayudara a tener contraseñas mas seguras para cualquiera de sus cuentas personales o de trabajo.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Eficaz</h4></div>
					<div class="h-body text-center">
						<p>Kryptos le genera una contraseña en base a una palabra ingresada por el usuario de manera rapida y eficiente, de este modo se tendra una contraseña facil de recordar y segura.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>Confiable</h4></div>
					<div class="h-body text-center">
						<p>Kryptos cuanta con una boveda de contraseñas encriptadas en la cual solo usted pueda visualizar dicha contraseña.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Amigable</h4></div>
					<div class="h-body text-center">
						<p>Kryptos presenta una interfaz grafica muy intuitiva para que el ususario no tenga contratiempos al momento de usar la plataforma y asi sea de mayor beneficio.</p>
					</div>
				</div>
			</div> 
		
		</div>
</div>