<header id="head" class="secondary"></header>

<div class="container">
    <div class="row2">
        <div class="col-md-4 mx-auto">        
            <div class="card text-center">
                <div class="card-header">
                    <h2><b>Inicio de Sesión</b></h2>
                </div>
                <div class="card-body">
                    <form action="/signin" method="POST">
                        <div class="form-group">
                            <input type="email" name="e-mail" placeholder="Correo" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Contraseña" class="form-control">
                        </div>
                        <div class="form-group">
                            <a href="#">Se me olvido la contraseña</a>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Iniciar
                            </button>
                        </div>
                        <div class="form-group">
                            Si aun no tienes una cuenta <a href="/signup">Registrate</a> para formar parte de la comunidad
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>